{{#each this}}
  <div class='swiper-slide'>
        <h2 class='news-card__title'>{{title}}</h2>
        <p class='news-card__text'>{{description}}</p>
        <a href="{{link}}" class="news-card__link" target="blank" rel ='noopener noreferrer'>Read more</a>
  </div>
{{/each}}