<div class="loader" id="search-button">
  <div class="cssload-dots">
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
  </div>
<!-- <div class="spinner visible" id="spinner">
    <div class="spinner__elem spinner__first-box"></div>
    <div class="spinner__elem spinner__second-box"></div>
    <div class="spinner__elem spinner__third-box"></div>
    <div class="spinner__elem spinner__fourth-box"></div>
</div> -->
</div>
